.title{
  font-family: Roboto, sans-serif;
}
.header{
  padding: 40px 0;
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.main-section{
  margin: auto;
  width: 80%;
}
.wrapper{
  margin:auto;
  width: 80%;
}
.logo, .menu{
  display: inline-block;
}
 .logo{
  
  width: 190px;
  height: 35px;
  background: url('img/logo.svg');
  }
.menu{
  display: flex;
  align-items: center;
}
.menu__item{
  padding: 0 13px;
}
.menu__item:last-child{
  padding-right: 0;
}
